[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
xlrd = "*"
tables = "*"
ipykernel = "*"
networkx = "*"
scipy = "*"
matplotlib = "*"
geopandas = "*"
descartes = "*"
sklearn = "*"
python-louvain = "*"
acs_wrapper = "*"
wget = "*"
pymongo = "*"
mongoengine = "*"
blinker = "*"
cython = "*"
openpyxl = "*"
sqlalchemy = "*"
plotly = "*"
infomap = "*"
werkzeug = "*"
apache-airflow = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
